---
interface Link {
    href: string;
    text: string;
}

const { links = [] }: { links?: Link[] } = Astro.props;
const headerId = "main-header";
const logoId = "main-logo"
const logoNavId = "secondary-logo" 
---

<header id={headerId} class="pt-4 fixed w-full z-50 transition-all">
    <div class="ftn-container flex justify-between items-center">
        <a id={logoId} href="#" class="transition-all">
            ftn agency
        </a>
        <nav class=" relative border rounded-full border-solid border-brand_neutral-900 dark:border-white/10 overflow-hidden before:content-[''] before:w-full before:h-full before:absolute before:bg-neutral-950/50  before:backdrop-blur-sm before:z-0">
            <ul class="flex z-10 relative px-4">
                <!-- <li id={logoNavId} class=" text-[0px] transition-all">
                    <a href="#"
                    class="">
                        ftn agency
                    </a>
                </li> -->
                {
                    links.map((link: Link) => (
                        <li>
                            <a
                                href={link.href}
                                class=" font-sharp_grotesk_light text-sm px-3 py-3 block hover:text-brand_neutral-50 transition duration-200"
                            >
                                {link.text}
                            </a>
                        </li>
                    ))
                }
                <!-- <li><a href="#">button here</a></li> -->
            </ul>
        </nav>
        <div class=" text-xs ">switch</div> 
    </div>
</header>


<script>
    if (typeof window !== 'undefined') {
    window.addEventListener('scroll', () => {
      const header = document.getElementById('main-header');
      const logo = document.getElementById('main-logo');
      const logoSecondary = document.getElementById('secondary-logo');
      if (header) {
        if (window.scrollY > 50) {
          header.classList.add('bg-transparent');
          logo?.classList.add('invisible');
          logoSecondary?.classList.remove('text-[0px]');

        } else {
          header.classList.remove('bg-transparent');
          logo?.classList.remove('invisible');
          logoSecondary?.classList.add('text-[0px]')
        }
      }
    });
  }


</script>